.markdown-body img {
    max-width: 40% !important;
}

::selection {
    background-color: var(--bg-green);
    text-shadow: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}